*.ipynb filter=lfs diff=lfs merge=lfs -text
data/*.png filter=lfs diff=lfs merge=lfs -text
models/*.pt filter=lfs diff=lfs merge=lfs -text
outputs/*.mp4 filter=lfs diff=lfs merge=lfs -text
outputs/*.png filter=lfs diff=lfs merge=lfs -text
